# ==============================================
# Policy File of /system/bin/gmadfs303 Executable File 


# ==============================================
# Type Declaration
# ==============================================

type gmadfs303_exec , exec_type, file_type;
type gmadfs303 ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

#permissive gmadfs303;
init_daemon_domain(gmadfs303)
#unconfined_domain(gmadfs303)
# Purpose : M-sensor daemon for access driver node
allow gmadfs303 msensor_device:chr_file { open ioctl read write };
allow gmadfs303 gsensor_device:chr_file { open ioctl read write };
allow gmadfs303 input_device:dir { search open read write };
allow gmadfs303 input_device:file { open read };
allow gmadfs303 akmd8963_access_file1:file { open read write };
allow gmadfs303 akmd8963_access_file2:file { open read write};
# Operate data partation directly, need modify later,e.g. use "data/misc/sensor".
# for msensor daemon access "data/misc".
file_type_auto_trans(gmadfs303, system_data_file, msensor_data_file)
allow gmadfs303 system_data_file:dir { create setattr };
allow gmadfs303 msensor_data_file:file { open write read create setattr};

